# vim dir
.netrwhist

# vim temp files
*.sw?

# mac files
*.DS_STORE

_oldbundles

# was already ignored in .vim/.gitignore but just to make sure..
.vim/view/
.vim/undodir

# tmp logs
*.log.txt

# install tpm ( tmux plugin manager first )
# git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm

# ignore tmux plugins, let tpm install then press "prefix + I" to install plugins
.tmux/plugins

# ignore tmux resurections
.tmux/resurrect
